@import "~antd/dist/antd.css";

body {
  padding: 0 20px;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.feat {
  border-bottom: solid 1px black;
}

.classes section {
  display: flex;
}

.classes .class-list {
  flex-grow: 2;
}

.classes .create-class {
  max-width: 300px;
}

.nav {
  display: flex;
  list-style: none;
  margin: 10px 0px 10px 0px;
  padding: 0px 0px 10px 0px;
  border-bottom: solid 1px #dddddd;
}

.nav li {
  margin-right: 20px;
}

.feats {
  display: flex;
  flex-direction: row;
}

.feats .feats-list {
  max-width: 800px;
}

.feats form {
  padding: 20px;
}

.feat-tag {
  background-color: orange;
  border-radius: 20px;
  display: inline-block;
  padding: 5px;
  margin: 0px;
}

.skills {
  width: 200px;
}

.new-feat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
}

.new-feat .prereqs-feats {
  flex-grow: 1;
}

.new-feat .prereqs-skills,
.new-feat .prereqs-skills,
.new-feat .prereqs-ability-scores {
  flex-grow: 1;
}

.new-feat .prereqs-skills .ant-select {
  width: 100%;
}

.new-feat .prereqs-ability-scores .ant-select {
  width: 100%;
}

.new-feat .prereqs-feats .ant-select {
  width: 100%;
}

.steps {
  margin-bottom: 20px;
}

form.start {
  max-width: 400px;
}
